.center {
    text-align: center;
}
.error {
    color: red;
}
.login-form {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
body {
    background-color: lightblue;
}
.margin-right {
    margin-right: 10px;
}
.red {
    color: red;
}